Options -Indexes
RewriteEngine on
RewriteRule ^user/([A-Za-z0-9-]+)/?$ user.php?name=$1	 [NC,L]
RewriteRule ^login/?$ front/login.php	 [NC,L]
RewriteRule ^contact/?$ front/contact.php	 [NC,L]
RewriteRule ^payment_successful/?$ front/payment_successful.php	 [NC,L]
RewriteRule ^payment_failed/?$ front/payment_failed.php	 [NC,L]
RewriteRule ^signup/?$ front/signup.php	 [NC,L]
RewriteRule ^/?$ front/index.php	 [NC,L]
RewriteRule ^home/?$ front/index.php	 [NC,L]
RewriteRule ^forgot/?$ front/forgot_password.php	 [NC,L]
RewriteRule ^reset/?$ front/reset_password.php	 [NC,L]
RewriteRule ^profile/?$ front/profile/profile.php	 [NC,L]
RewriteRule ^logout/?$ back/logout.php	 [NC,L]
RewriteRule ^dashboard/?$ front/dashboard.php	 [NC,L]
RewriteRule ^quiz/?$ front/quiz.php	 [NC,L]
RewriteRule ^profile/active_users/?$ front/profile/active_users.php	 [NC,L]
RewriteRule ^profile/pending_users/?$ front/profile/pending_users.php	 [NC,L]
RewriteRule ^profile/suspended_users/?$ front/profile/suspended_users.php	 [NC,L]
RewriteRule ^profile/general/?$ front/profile/change_details.php	 [NC,L]
RewriteRule ^profile/change_password/?$ front/profile/change_password.php	 [NC,L]
RewriteRule ^profile/categories/?$ front/profile/categories.php	 [NC,L]
RewriteRule ^profile/subjects/?$ front/profile/subjects.php	 [NC,L]
RewriteRule ^profile/quiz/?$ front/profile/existing_quiz.php	 [NC,L]
RewriteRule ^profile/dashboard/?$ front/profile/profile.php	 [NC,L]
RewriteRule ^profile/referrals/?$ front/profile/referrals.php	 [NC,L]
RewriteRule ^profile/?$ front/profile/profile.php	 [NC,L]
RewriteRule ^profile/add_question?$ front/profile/add_question.php	 [NC,L]
RewriteRule ^profile/plans?$ front/profile/plans.php	 [NC,L]
RewriteRule ^profile/recharge?$ front/profile/recharge.php	 [NC,L]
RewriteRule ^profile/existing_questions?$ front/profile/existing_questions.php	 [NC,L]
RewriteRule ^profile/edit_question?$ front/profile/edit_question.php	 [NC,L]
RewriteRule ^pay?$ back/pay.php	 [NC,L]
RewriteRule ^webhook?$ back/webhook.php	 [NC,L]
RewriteRule ^thankyou?$ back/thankyou.php	 [NC,L]
RewriteRule ^confirm_payment?$ front/confirm_payment.php	 [NC,L]